/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding-top: 150px;  
  padding-bottom: 200px;
  text-align: center;
  position: relative; 
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover; /* Ensures the GIF covers the entire div */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-image: url("/static/img/landing-screensaver.gif");
  /* Adding the overlay */
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(67, 69, 71, 0.3); /* Adjust the color and opacity as needed */
    z-index: 0;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3.5rem; /* 72px */
  line-height: 1.2;
  font-weight: 700 !important;
  margin: 0 0 20px;
  white-space: pre-line;
  z-index: 1;
}

.tagline {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2.5rem;
  width: 750px;
  white-space: pre-line;
  line-height: 2rem;
  color: #D1D1D2;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.cta {
  color: rgb(0, 0, 0);
  background: rgb(71, 221, 130);
  border: 1px solid rgb(71, 221, 130) !important;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .171);
  margin: 1rem 0;
  font-size: 1.125rem; /* 18px */
  line-height: 1rem; /* 28px */
  margin-top: 5rem;
  padding: 10px 20px;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.cta:hover {
  color: rgb(255, 255, 255);
  background: rgb(71, 221, 130);
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 93, .226), 0px 1px 3px 0px rgba(0, 0, 0, .08);
  text-decoration: none; /* Add this line */
}

.buttonContainer {
  margin: 30px 0px;
  z-index: 1;
}
