/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #47dd82;
  --ifm-color-primary-dark: #4cdf88;
  --ifm-color-primary-darker: #47dd82;
  --ifm-color-primary-darkest: #4cdf88;
  --ifm-color-primary-light: #47dd82;
  --ifm-color-primary-lighter: #4cdf88;
  --ifm-color-primary-lightest: #47dd82;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #47dd82;
  --ifm-color-primary-dark: #4cdf88;
  --ifm-color-primary-darker: #47dd82;
  --ifm-color-primary-darkest: #4cdf88;
  --ifm-color-primary-light: #47dd82;
  --ifm-color-primary-lighter: #4cdf88;
  --ifm-color-primary-lightest: #4cdf88;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.cardContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocCard-styles-module *:last-child {
  margin-bottom: 0;
  display: none;
}

.padding-bottom--lg {
  padding-bottom: 110px !important;
}

@media (max-width: 767px) {
  .textCenter {
    text-align: center;
  }

  .mobCenter {
    align-items: center;
    justify-content: center;
  }

  .h_w_lg {
    flex-direction: column;
  }
  
  .textCenterMobile {
    text-align: center;
  }
}