/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #47dd82;
  --ifm-color-primary-dark: #47dd82;
  --ifm-color-primary-darker: #47dd82;
  --ifm-color-primary-darkest: #47dd82;
  --ifm-color-primary-light: #47dd82;
  --ifm-color-primary-lighter: #47dd82;
  --ifm-color-primary-lightest: #47dd82;
  --ifm-code-font-size: 95%;
  --ifm-footer-background-color: #181A1C;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --heading-font: "Segoe UI", Helvetica, Arial, sans-serif;
  --body-font: "Roboto", sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #47dd82;
  --ifm-color-primary-dark: #47dd82;
  --ifm-color-primary-darker: #47dd82;
  --ifm-color-primary-darkest: #47dd82;
  --ifm-color-primary-light: #47dd82;
  --ifm-color-primary-lighter: #47dd82;
  --ifm-color-primary-lightest: #47dd82;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-footer-background-color: #181A1C;
}

/* Font families declaration */
* {
  font-family: var(--body-font);
}

h1,
h2,
h3{
  font-family: var(--heading-font) !important;
  font-weight: 700 !important;
}

h4,
h5,
h6 {
  font-family: var(--heading-font) !important;
  font-weight: 700;
}

.navbar {
  /* Set the background color of the navbar */
  background-color: #181a1c;
}

.navbar__item--active,
.navbar__item--active:hover,
.dropdown__link--active,
.dropdown__link--active:hover {
  background-color: transparent;
  color: #000;
}

/* Code configuration */
code {
  color: #EB5757;
  border-width: 0px;
  padding: 3px 8px;
  font-size: 0.8em;
  font-weight: 600;
}

[data-theme='dark'] code {
  background-color: #111;
}
.theme-code-block {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.9em;
}
.theme-code-block .token {
  font-family: "IBM Plex Mono", monospace;
}

button {
  /* For the Sign in button in the Navbar */
  background-color: #48dd82;
  color: #181A1C;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

table {
  width: 100%;
  table-layout: auto;  /* Allows the table to determine cell width based on contents */
  overflow-x: auto;   /* Allows table to be scrollable on small devices */
}

table th, table td {
  white-space: nowrap;  /* Prevents wrapping within cells */
  overflow: hidden;     /* Prevents content from overflowing cells */
  text-overflow: ellipsis;  /* Adds an ellipsis (...) when content is too long */
  padding: 10px!important; /* Adjust this to add more or less space */
}

/* Footer configuration */
.footer {
  padding: 110px 0px 110px 0px;
}

.footer__title {
  color: white;
}

.footer__link-item {
  color: #48dd82;
}

.iconExternalLink {
  display: none !important;
}

.footer__copyright {
  padding-top: 40px;
  text-align: left;
  color: white;
}

.avatar__photo {
  border-radius: 5%;
  margin-bottom: 20px;
  display: block;
  height: var(--ifm-avatar-photo-size);
  overflow: hidden;
  width: var(--ifm-avatar-photo-size);
}

.padding-bottom--lg {
  padding-bottom: 110px !important;
}

@media (max-width: 767px) {
  .textCenter {
    text-align: center;
  }

  .mobCenter {
    align-items: center;
    justify-content: center;
  }

  .h_w_lg {
    flex-direction: column;
  }
  
  .textCenterMobile {
    text-align: center;
  }
}